<?xml version="1.0"?>
<robot name="panda_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="panda_mesh_dir" default="./panda/meshes/" />

    <xacro:include
        filename="$(find my_franka_description)/urdf/panda/panda_with_gripper.urdf.xacro" />
    <xacro:panda_arm mesh_dir="$(arg panda_mesh_dir)" />

    <link name="world" />
    <joint name="world_joint" type="fixed">
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <parent link="world" />
        <child link="panda_link0" />
    </joint>

    <link name="wrist"/>
    <joint name="wrist_joint" type="fixed">
        <origin
            xyz="0 0 0"
            rpy="0 -${pi/2} ${-pi/2}" />
        <parent link="panda_hand" />
        <child link="wrist" />
    </joint>

</robot>